<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgh.advertising.going">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lgh.advertising.myclass.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lgh.advertising.myactivity.UpdateActivity"
            android:process=":UpdateActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />
        <activity
            android:name="com.lgh.advertising.myactivity.MoreMessageActivity"
            android:process=":MoreMessageActivity" />
        <activity android:name="com.lgh.advertising.myactivity.SettingActivity" />
        <activity android:name="com.lgh.advertising.myactivity.AuthorizationActivity" />
        <activity android:name="com.lgh.advertising.myactivity.AddDataActivity" />
        <activity
            android:name="com.lgh.advertising.myactivity.ListDataActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.lgh.advertising.myactivity.EditDataActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.lgh.advertising.myactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibilityName"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/configure" />
        </service>

        <service
            android:name=".MyAccessibilityServiceNoGesture"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibilityNameNoGesture"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/configurenogesture" />
        </service>

        <receiver
            android:name=".MyScreenOffReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyInstallReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>