<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgh.advertising.going">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:name=".myclass.MyApplication"
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".myactivity.SettingActivity" />
        <activity android:name=".myactivity.AuthorizationActivity" />
        <activity android:name=".myactivity.AddDataActivity" />
        <activity
            android:name=".myactivity.UpdateActivity"
            android:process=":UpdateActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />
        <activity
            android:name=".myactivity.MoreMessageActivity"
            android:process=":MoreMessageActivity" />
        <activity
            android:name=".myactivity.ShortCutActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".myactivity.ListDataActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".myactivity.EditDataActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".myactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".myfunction.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibilityName"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/configure" />
        </service>
        <service
            android:name=".myfunction.MyAccessibilityServiceNoGesture"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibilityNameNoGesture"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/configurenogesture" />
        </service>

        <receiver
            android:name=".myfunction.MyScreenOffReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".myfunction.MyInstallReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".myfunction.MyBootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>