<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".myclass.MyApplication"
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:icon="@drawable/app"
        android:label="@string/appName"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".myactivity.GetVipActivity"
            android:exported="false" />
        <activity
            android:name=".myactivity.LogActivity"
            android:exported="false" />
        <activity
            android:name=".myactivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/plain"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".myactivity.ExceptionReportActivity"
            android:exported="false" />
        <activity android:name=".myactivity.SettingActivity" />
        <activity android:name=".myactivity.AuthorizationActivity" />
        <activity android:name=".myactivity.AddDataActivity" />
        <activity
            android:name=".myactivity.UpdateActivity"
            android:theme="@style/MyDialog" />
        <activity android:name=".myactivity.MoreMessageActivity" />
        <activity
            android:name=".myactivity.ShortCutActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".myactivity.ListDataActivity" />
        <activity
            android:name=".myactivity.EditDataActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".myactivity.RegulationImportActivity" />

        <service
            android:name=".myfunction.MyTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/add_data"
            android:label="@string/appName"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".myfunction.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="@string/appName"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":AccessibilityService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/configure" />
        </service>

        <provider
            android:name=".myfunction.MyContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false"
            android:process=":AccessibilityService" />

        <receiver
            android:name=".myfunction.MyDeviceAdminReceiver"
            android:description="@string/appName"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:process=":AccessibilityService">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/configure_device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>